@{
    ViewData["Title"] = "Story";
}

<h2>  Our Story</h2>

<div class="timeline">
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>1990 - Windber, PA</h2>
            <p>Sandi is born...</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>1991 - Dublin, Ireland</h2>
            <p>This little shit was causing issues...</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2008 - New York</h2>
            <p>Sandi arrives in New York City</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2011 - New York</h2>
            <p> Sandi starts working at the Disney Store</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2012 - New York</h2>
            <p> The Irish invasion begins</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineLeft">
        <div class="timelineContent">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="timelineContainer timelineRight">
        <div class="timelineContent">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
        </div>
    </div>
</div>