@{
    ViewData["Title"] = "Accommodation";
}

<div id="AccomodationPage">
    <div class="section">
        <div class="Accomodationhome">
            <h2 class="travelPage">Accommodation</h2>
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <p>There are room blocks available in two hotels close to the Grand Estates, both will be served by a shuttle service from the venue.</p>
                    <p>The first option is Lenope Heights Golf Resort in nearby Ford City - which is approximately a 10-minute drive. The rooms start at $150 a night, and booking in this block will require a minimum 2 night stay. </p>
                    <p>The second option is Springhill Suites in Pittsburgh Mills, which is about a 30-minute drive from the Grand Estate. There are more rooms available here, starting from $120/night with no minimum stay requirement. </p>
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1mDiP2Xr6mMXNJqn3-XZnHIoKM9n07RzG"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="Accomodationhotels" id="hotelleft">
            <h2 class="travelPage">Lenape Heights</h2>
            <div class="venue-home">

                <div class="accomod-img-left">
                    <img src="~/img/slide-2-inn.jpg" />
                    @*</br>
                        </br>
                        <img src="~/img/DSCF1336.jpg" />*@
                </div>
                <div class="accomod-blurb" id="right">
                    <p>Lenope Heights Golf Resort is in nearby Ford City - which is approximately a 10-minute drive. The rooms start at $150 a night, and booking in this block will require a minimum 2 night stay. </p>
                    <p>Situated on a golf resort, would allow for early visitors from out of town to relax whilst playing golf or using their spa</p>
                    <p>We have rented the space around the firepit for after 11pm on the Saturday 13th August once The Grand Estate closes.</p>
                    <button>
                        <a class="myButton" href="https://www.lenapegolfresort.com/" target="_blank">Lenape website</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="section">
        <div class="Accomodationhotels" id="hotelright">
            <h2 class="travelPage">Springhill Suites</h2>
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <p>Springhill Suites in Pittsburgh Mills, which is about a 30-minute drive from the Grand Estate. There are more rooms available here, starting from $120/night with no minimum stay requirement.</p>
                    <p>This hotel is much closer to the city, and a deal with Springhill Suites is available if you need a hotel in downtown Pittsburgh or at the airport later on in your trip</p>
                    <p>It's very close to attractions such as Pittsburgh famous zoo or the PPG Aquarium</p>
                    <button>
                        <a class="myButton" href="https://bit.ly/3pXbAyG" target="_blank">Check out their website</a>
                    </button>
                </div>
                <div class="accomod-img-right">
                    <img src="~/img/pitml-exterior-0016-hor-feat.jpg" />
                </div>

            </div>
        </div>
    </div>
    <div class="section">
        <div class="Accomodationhome">
            <h2 class="travelPage">Alternative Options - B&Bs</h2>
            <div class="accomod-home">
                <p>There are several good Bed and Breakfast options in and near The Grand Estates</p>
                <p>The first of those is <a href="http://www.oldparsonagebandb.com/" target="_blank">The Old Parsonage, Leechburg, PA</a>. This is approximately a 25 minute drive to the Grand Estates</p>
                <button>
                    <a class="myButton" href="http://www.oldparsonagebandb.com/">Check out their website</a>
                </button>
                <p>Another good option is the <a href="https://sunandcricket.com/" target="_blank">Sun and Cricket Bed &amp; Breakfast, Gibsonia, PA</a> which is a little further out at a 30 minute drive, but has some very good reviews online.</p>
                <button>
                    <a class="myButton" href="">Check out their website</a>
                </button>
            </div>
        </div>
    </div>
</div>