@{
    ViewData["Title"] = "Accomodation";
}

<div id="AccomodationPage">
    <div class="section">
        <div class="Accomodationhome">
            <h2>Accomodation</h2>
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <p>There are room blocks available in two hotels close to the Grand Estates, both will be served by a shuttle service from the venue.</p>
                    <p>The first option is Lenope Heights Golf Resort in nearby Ford City - which is approximately a 10-minute drive. The rooms start at $150 a night, and booking in this block will require a minimum 2 night stay. </p>
                    <p>The second option is Springhill Suites in Pittsburgh Mills, which is about a 30-minute drive from the Grand Estate. There are more rooms available here, starting from $120/night with no minimum stay requirement. </p>
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1mDiP2Xr6mMXNJqn3-XZnHIoKM9n07RzG"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide">
            <div class="Accomodationhome">
                <h2>Lenape Heights</h2>
                <div class="venue-blurb" id="left">
                    <p>Lenope Heights Golf Resort is in nearby Ford City - which is approximately a 10-minute drive. The rooms start at $150 a night, and booking in this block will require a minimum 2 night stay. </p>
                    <p>Situated on a golf resort, would allow for early visitors from out of town to relax whilst playing golf or using their spa</p>
                    <button>
                        <a class="myButton" href="https://www.lenapegolfresort.com/">Check out their website</a>
                    </button>
                </div>
                <div class="accomod-img-right">
                    <img src="~/img/slide-2-inn.jpg" />
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="Accomodationhome">
                <h2>Lenape Heights</h2>
                <div class="accomod-img-left">
                    <img src="~/img/DSCF1336.jpg" />
                </div>
                <div class="venue-blurb" id="right">
                    <p>Something about the afters and the firepit</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="Accomodationhome">
            <h2>Springhill Suites</h2>
            <div class="accomod-img-left">
                <img src="~/img/pitml-exterior-0016-hor-feat.jpg" />
            </div>
            <div class="venue-blurb" id="right">
                <p>Springhill Suites in Pittsburgh Mills, which is about a 30-minute drive from the Grand Estate. There are more rooms available here, starting from $120/night with no minimum stay requirement.</p>
                <p>This hotel is much closer to the city, and a deal with Springhill Suites is available if you need a hotel in downtown Pittsburgh or at the airport later on in your trip</p>
                <p>It's very close to attractions such as Pittsburgh famous zoo or the PPG Aquarium</p>
                <button>
                    <a class="myButton" href="https://www.marriott.com/hotels/travel/pitml-springhill-suites-pittsburgh-mills/">Check out their website</a>
                </button>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>Alternative Options</h2>
        B&Bs
        Other hotels

    </div>
</div>
