@{
    ViewData["Title"] = "Travel";
}

<div id="TravelFullPage">
    <div class="section">
        <div class="slide">
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <h2>Travel</h2>
                    <h3>How to get here: Driving From Pittsburgh</h3>
                    <p>The Grand Estate is located about a 45 minute drive from downtown Pittsburgh, or an hour from Pittsburgh Airport. </p>
                    <p>Located North-East of Pittsburgh, PA-28N will be the main road to get you towards the Grand Estate. You will exit PA-28N at PA-128N Slate Lick Northpoint Exit.</p>
                    <p>Follow PA-128N over the bridge and follow the road for 1.5 miles before turning right for another 1.3 miles. </p>
                    <p>Turn right onto Nickleson Run Road and continue straight for another 1.6 miles. Turn right onto Ford City Road. The Grand Estates will be on your right after 0.7 miles.</p>
                        Links to other slides (Driving from Johnstown, New York, Washington, etc)
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1RUzLPLfRh7oZwXKMXzlZrebefQXQ2N-H&hl=en&ehbc=2E312F"></iframe>
                </div>
            </div>

        </div>
        <div class="slide">
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <h2>Travel</h2>
                    <h3>How to get here: Driving From Johnstown</h3>
                    Links to other slides (Driving from Johnstown, New York, Washington, etc)
                    </p>
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1A_QRKbgSa-990WrUYma9MiC-caDm4WVA&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <h2>Travel</h2>
                    <h3>How to get here: Driving From New York</h3>
                    Links to other slides (Driving from Johnstown, New York, Washington, etc)
                    </p>
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1jyyvbQMAAh0mhbt-v9iOUi6E03cvdDe5&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <h2>Travel</h2>
                    <h3>How to get here: Driving From Philadelphia / Washington</h3>
                    Links to other slides (Driving from Johnstown, New York, Washington, etc)
                    </p>
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1DJlxFq0rER82UTr5kdnVy4uf72KaXag6&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue-home">
                <div class="venue-blurb" id="left">
                    <h2>Travel</h2>
                    <h3>How to get here: Driving From Indianapolis</h3>
                    When travelling from the other side of the country, west of Pittsburgh - it would be easiest to drive via Pittsburgh and use PA-28 N.
                    </p>
                </div>
                <div class="google-maps-home">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1L_WUIWmt3DQNgwzw53GMr34IAHf6HqHN&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide">
            <h2>Flying from Europe</h2>
            <h3>Airport options</h3>
            <div class="irelandAirport">
                Take the blegh road

            </div>
            <div class="londonairport">
                Insert map
            </div>
        </div>
        <div class="slide">
            <h2>Flying from Australia</h2>
            <h3>Airport options</h3>
            <div class="irelandAirport">
                Take the blegh road

            </div>
            <div class="londonairport">
                Insert map
            </div>
        </div>
        <div class="slide">
            <h2>Flying from Vancouver</h2>
            <h3>Airport options</h3>
            <div class="irelandAirport">
                Take the blegh road

            </div>
            <div class="londonairport">
                Insert map
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide">
            <h2>Other transport options: New York</h2>
            <div class="megaBus">
                Take the blegh road

            </div>
            <div class="other">
                Insert map
            </div>
        </div>
        <div class="slide">
            <h2>Other transport options: Philadelphia</h2>
            <div class="megaBus">
                Take the blegh road

            </div>
            <div class="other">
                Insert map
            </div>
        </div>
        <div class="slide">
            <h2>Other transport options: Washington</h2>
            <div class="megaBus">
                Take the blegh road

            </div>
            <div class="other">
                Insert map
            </div>
        </div>
        <div class="slide">
            <h2>Other transport options: Indianapolis</h2>
            <div class="megaBus">
                Take the blegh road

            </div>
            <div class="other">
                Insert map
            </div>
        </div>
    </div>
</div>