@{
    ViewData["Title"] = "Travel";
}

<h2>Travel &amp; Accomodation</h2>

<div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1615398.5384435584!2d-78.77098747938172!3d40.77718902749891!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc0f6f544eabff695!2sThe%20Grand%20Estate%20at%20Hidden%20Acres!5e0!3m2!1sen!2sie!4v1635981986162!5m2!1sen!2sie" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<h3>How to get here!</h3>
<div class="transport">
    <div class="transportDiv">
        <img class="transportIcon" src="~/img/byroad.png" />
        <br />
        <h3>Driving</h3>
        <p>
            <b>From Pittsburgh:</b>
        </p>
        <p>
            <b>From Johnstown:</b>
        </p>
        <p>
            <b>From New York City:</b>
        </p>
        <p>
            <b>From Philadelphia:</b>
        </p>
        <p>
            <b>From Washington DC:</b>
        </p>
        <p>
            <b>From Indianapolis:</b>
        </p>
    </div>
    <div class="transportDiv">
        <img class="transportIcon" src="~/img/byplane.png" /><br />
        <h3>Plane</h3>
        <p>
            <b>From Europe:</b>
        </p>
        <p>
            <b>From Australia:</b>
        </p>
        <p>
            <b>From Vancouver:</b>
        </p>
    </div>
    <div class="transportDiv">
        <img class="transportIcon" src="~/img/bybus.png" />
        <br />
        <h3>Bus</h3>
        <p>
            <b>From Pittsburgh:</b>
        </p>
        <p>
            <b>From New York City:</b>
        </p>
        <p>
            <b>From Philadelphia:</b>
        </p>
        <p>
            <b>From Washington DC:</b>
        </p>
        <p>
            <b>From Indianapolis:</b>
        </p>
    </div>
    <div class="transportDiv">
        <img class="transportIcon" src="~/img/bytrain.png" />
        <br />
        <h3>Train</h3>
        <p>
            <b>From Pittsburgh:</b>
        </p>
        <p>
            <b>From New York City:</b>
        </p>
        <p>
            <b>From Philadelphia:</b>
        </p>
        <p>
            <b>From Washington DC:</b>
        </p>
        <p>
            <b>From Indianapolis:</b>
        </p>
    </div>
</div>

