@{
    ViewData["Title"] = "Travel";
}

<div id="TravelFullPage">
    <div class="section">
        <div class="slide">
            <div class="venue" id="Pittsburgh">
                <h2>Travel</h2>
                <div class="venue-blurb" id="left">

                    <h3>How to get here: Driving From Pittsburgh</h3>
                    <p>The Grand Estate is located about a 45 minute drive from downtown Pittsburgh, or an hour from Pittsburgh Airport. </p>
                    <p>Located North-East of Pittsburgh, PA-28N will be the main road to get you towards the Grand Estate. You will exit PA-28N at PA-128N Slate Lick Northpoint Exit.</p>
                    <p>Follow PA-128N over the bridge and follow the road for 1.5 miles before turning right for another 1.3 miles. </p>
                    <p>Turn right onto Nickleson Run Road and continue straight for another 1.6 miles. Turn right onto Ford City Road. The Grand Estates will be on your right after 0.7 miles.</p>
                    Links to other slides (Driving from Johnstown, New York, Washington, etc)
                </div>
                <div class="google-maps-travel">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1RUzLPLfRh7oZwXKMXzlZrebefQXQ2N-H&hl=en&ehbc=2E312F"></iframe>
                </div>
            </div>

        </div>
        <div class="slide">
            <div class="venue" id="Johnstown">
                <h2>Travel</h2>
                <div class="venue-blurb" id="left">
                    <h3>How to get here: Driving From Johnstown</h3>
                    <p>This route will take approximately</p>
                    <p>Take the PA-56W to the US 422-W exit</p>
                    <p>At South Buffalo Township, turn left to S Water St, and follow until PA-66S for one mile</p>
                    <p>Take a right onto PA-128S which will turn into Ford City Road.</p>
                    <p>
                        The Grand Estate will be on the right after two miles.
                    </p>
                </div>
                <div class="google-maps-travel">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1A_QRKbgSa-990WrUYma9MiC-caDm4WVA&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue" id="NewYork">
                <h2>Travel</h2>
                <div class="venue-blurb" id="left">
                    <h3>How to get here: Driving From New York</h3>
                    <p>This route will take approximately five and a half hours and includes tolls.</p>
                    <p>The I-80W will be the main highway to take from New York. After driving for 4 and a half hours, take exit 78 towards PA-28S Brookville/Sigel exit.</p>
                    <p>Stay on Pa-28S/Allegheny Blvd for 40 miles.</p>
                    <p>Take exit A for PA-66S toward Ford City</p>
                    <p>Take PA-66S for one mile.</p>
                    <p>Take a right onto PA-128S which will turn into Ford City Road.</p>
                    <p>
                        The Grand Estate will be on the right after two miles.
                    </p>
                </div>
                <div class="google-maps-travel">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1jyyvbQMAAh0mhbt-v9iOUi6E03cvdDe5&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue" id="Philly">
                <h2>Travel</h2>
                <div class="venue-blurb" id="left">
                    <h3>How to get here: Driving From Philadelphia / Washington</h3>
                    <p>This route will take five hours from Philadelphia, or four hours from Washington D.C. and includes tolls.</p>
                    <p>Take I-76 W which goes from Philadelphia. For those travelling from DC, take I-270N and I-70 W which will join I-76 at Breezewood PA.</p>
                    <p>Take exit 48 towards Freeport Road, and while keeping right follow signs for PA-28N. Merge onto PA-28N and drive for 19 miles.</p>
                    <p>Take exit 18 for PA-128N toward Slate Lick Northpointe</p>
                    <p>Follow PA-128N over the bridge and follow the road for 1.5 miles before turning right for another 1.3 miles. </p>
                    <p>Turn right onto Nickleson Run Road and continue straight for another 1.6 miles. Turn right onto Ford City Road. The Grand Estates will be on your right after 0.7 miles.</p>
                    Links to other slides (Driving from Johnstown, New York, Washington, etc)
                </div>
                <div class="google-maps-travel">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1DJlxFq0rER82UTr5kdnVy4uf72KaXag6&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue" id="indy">
                <h2>Travel</h2>
                <div class="venue-blurb" id="left">
                    <h3>How to get here: Driving From Indianapolis</h3>
                    When travelling from the other side of the country, west of Pittsburgh - it would be easiest to drive via Pittsburgh and use PA-28 N.
                    </p>
                </div>
                <div class="google-maps-travel">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1L_WUIWmt3DQNgwzw53GMr34IAHf6HqHN&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="slide">
            <div class="venue" id="Europe">
                <h2>Flying from Europe</h2>
                <div class="venue-blurb" id="left">
                    <h3>Pittsburgh - Non-stop</h3>
                    <p>
                        There are non-stop flights from two European airports to Pittsburgh - London(Heathrow) and Frankfurt
                    </p>
                    <h3>Pittsburgh - Layovers</h3>
                    <p>
                        There are many one-stop flights to Pittsburgh from anywhere in Europe - with layovers in New York, Washington, Chicago, Charlotte, or Boston.
                    </p>
                </div>
                <div class="venue-blurb" id="right">
                    <h3>Non-stop Flight options - Other</h3>
                    <p>
                        Otherwise, in order to avoid flights with a layover, the only option would be to fly into one of New York, Washington, Philadelphia, or Baltimore and travel from there.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="venue" id="World">
                <h2>Flying from Further Afield</h2>
                <div class="venue-blurb" id="left">
                    <h3>From Australia</h3>
                    <p></p>
                </div>
                <div class="venue-blurb" id="right">
                    <h3>From Vancouver</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="venue" id="bus">
            <div class="megaBus">
                Other Travel options

                Bus:
                Megabus
                Greyhound

                Train:
                Amtrak

            </div>
        </div>
        </div>

    </div>