@{
    ViewData["Title"] = "Registry";
}

<div id="Registry">
    <h2>Registry </h2>
    <div class="registryText">
        <p>
            We have two registries, both listed here. One is from Zola for all US based items, and the other is from MyRegistry for all Worldwide based items.
        </p>
    </div>
    <div class="registryFrame">
        <a class="zola-registry-embed" href="www.zola.com/wedding/sandiandconor" data-registry-key="sandiandconor">Our Zola Wedding Registry</a>
        <script>!function (e, t, n) { var s, a = e.getElementsByTagName(t)[0]; e.getElementById(n) || (s = e.createElement(t), s.id = n, s.async = !0, s.src = "https://widget.zola.com/js/widget.js", a.parentNode.insertBefore(s, a)) }(document, "script", "zola-wjs");</script>
    </div>
    <br>
    <div class="registryFrame">
        <script id='script_myregistry_giftlist_iframe' type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=287rk4j2u0Ozdb0OPfeUXw2&v=2'></script>
    </div>
</div>
