@{
    ViewData["Title"] = "Registry";
}

<div id="Registry">
    <h2>Registry </h2>

    <br>
    <div class="registryFrame">
        <script id='script_myregistry_giftlist_iframe' type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=287rk4j2u0Ozdb0OPfeUXw2&v=2'></script>
    </div>
</div>
