@{
    ViewData["Title"] = "RSVP";
}

<h2>RSVP</h2>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdBBGMoMXWta-LMz6xXjsD-SKL3Ehd8LYC0XR-X5MoOeaVcMg/viewform?embedded=true" width="640" height="1688" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>